<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head') %>

  <!-- Toast Alerts -->
  <%- include('../partials/toastAlerts') %>

  <!-- Body -->
  <body class="login-register-body">
    <!-- Glass Card -->
    <div class="login-register-card">
      <!-- Back Button -->
      <span class="card-back-button">
        <i class="fas fa-chevron-left text-sm sm:text-base"></i>
        <a href="/" class="text-sm sm:text-base">Back</a>
      </span>

      <!-- Icon -->
      <div class="card-icon">
        <i class="fas fa-user"></i>
      </div>

      <!-- Heading -->
      <h2 class="card-heading">Welcome Back</h2>
      <p class="text-sm sm:text-base text-gray-600 text-center mb-6 sm:mb-8">
        Login to your
        <span class="text-orange-600 font-medium">AuthFlow</span> account
      </p>

      <!-- Login Form -->
      <form class="login-register-form" action="/user/login" method="post">
        <!-- Form Alerts Display -->
        <% if (alert) { %> <%- include('../partials/formAlerts', { alert: alert
        })%> <% } %>

        <!-- Email -->
        <div class="form-input-div">
          <i class="fas fa-envelope text-orange-500 text-sm sm:text-base"></i>
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="form-input-box"
          />
        </div>

        <!-- Password Field -->
        <div class="relative">
          <div class="form-input-div">
            <i class="fas fa-lock text-orange-500"></i>
            <input
              id="password"
              name="password"
              type="password"
              placeholder="Password"
              class="form-input-box"
            />
          </div>
          <span
            class="absolute right-4 top-1/2 transform -translate-y-1/2 cursor-pointer text-gray-600"
            onclick="togglePassword('password', this)"
          >
            <i class="fas fa-eye"></i>
          </span>
        </div>

        <!-- Sign In Button -->
        <button type="submit" class="form-button">
          <i class="fas fa-sign-in-alt"></i>
          Sign In
        </button>

        <!-- Forgot Password Link -->
        <div class="text-center mt-2 sm:mt-3">
          <a
            href=""
            class="text-xs sm:text-sm text-gray-600 hover:underline font-medium"
          >
            Forgot Password?
          </a>
        </div>

        <!-- Register Link -->
        <p class="text-xs sm:text-sm text-gray-700 text-center mt-3 sm:mt-4">
          Don’t have an account?
          <a
            href="/user/register"
            class="text-orange-600 hover:underline font-medium"
          >
            Register
          </a>
        </p>
      </form>
    </div>
    <!-- Script for Toggle Password View -->
    <script src="/js/togglePwd.js"></script>
  </body>
</html>
