<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head') %>

  <!-- Toast Alerts -->
  <%- include('../partials/toastAlerts') %>

  <!-- Body -->
  <body class="body">
    <div class="auth-form-container">
      <div class="auth-card">
        <!-- Back Button -->
        <span class="card-back-button">
          <i class="fas fa-chevron-left"></i>
          <a href="/">Back</a>
        </span>

        <!-- Icon and Heading -->
        <div class="flex flex-col items-center mb-10">
          <div class="card-icon">
            <i class="fas fa-key"></i>
          </div>
          <h2 class="card-heading">Forgot Password?</h2>
          <p class="text-sm sm:text-base text-gray-600 text-center">
            Reset your
            <span class="text-orange-600 font-medium">AuthFlow</span> account
            password.
          </p>
        </div>

        <!-- STEP - 1 : Password Reset Email Validation -->
        <section id="step1" class="w-full">
          <form action="/user/reset-password" method="post" class="auth-form">
            <p
              for="email"
              class="block text-gray-700 font-medium underline text-center"
            >
              Enter Your Registered Email to Reset Password
            </p>
            <!-- Form Alerts Display -->
            <% if (alert) { %> <%- include('../partials/formAlerts', { alert:
            alert })%> <% } %>
            <div class="form-input-div">
              <i
                class="fas fa-envelope text-orange-500 text-sm sm:text-base"
              ></i>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter Your Email"
                class="form-input-box"
              />
            </div>

            <button type="submit" class="submit-button">
              <i class="fas fa-paper-plane"></i> Submit
            </button>
          </form>
        </section>

        <!-- Bottom Links -->
        <div
          class="text-center mt-14 text-sm text-gray-700 flex flex-col items-center justify-center gap-2"
        >
          <div>
            <i class="fas fa-question-circle mr-1"></i>Remembered your password?
            <a
              href="/user/login"
              class="text-orange-600 hover:underline font-medium"
              >Login</a
            >
          </div>
          <a href="/" class="hover:underline"
            ><i class="fas fa-times-circle mr-1"></i>Cancel & Go Back</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
