<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head') %>

  <!-- Toast Alerts -->
  <%- include('../partials/toastAlerts') %>

  <!-- Body -->
  <body class="body">
    <div class="auth-form-container">
      <% if (!showSuccess) { %> <%- include('../partials/regForm') %> <% } else
      { %> <%- include('../partials/regSuccess') %> <% } %>

      <!-- Script for Toggle Password View -->
      <script src="/js/togglePwd.js"></script>
    </div>
  </body>
</html>
