<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head') %>

  <!-- Toast Alerts -->
  <%- include('../partials/toastAlerts') %>

  <!-- Body -->
  <body class="body">
    <div class="auth-form-container">
      <div class="auth-card">
        <!-- Back Button -->
        <span class="card-back-button">
          <i class="fas fa-chevron-left"></i>
          <a href="/">Back</a>
        </span>

        <!-- Icon and Heading -->
        <div class="flex flex-col items-center mb-10">
          <div class="card-icon">
            <i class="fas fa-key"></i>
          </div>
          <h2 class="card-heading">Forgot Password?</h2>
          <p class="text-sm sm:text-base text-gray-600 text-center">
            Reset your
            <span class="text-orange-600 font-medium">AuthFlow</span> account
            password.
          </p>
        </div>

        <!-- STEP-2 : Password Reset Method Selection -->
        <section id="step2" class="w-full">
          <p class="mb-3 text-gray-700 font-medium underline text-center">
            Please Select Your Preferred Reset Method
          </p>
          <!-- Form Alerts Display -->
          <% if (alert) { %> <%- include('../partials/formAlerts', { alert:
          alert })%> <% } %>
          <form
            action="/user/reset-password/method/<%= userId %>"
            method="post"
            class="auth-form"
          >
            <div class="flex gap-4 justify-center">
              <label class="inline-flex items-center gap-2 cursor-pointer">
                <input
                  type="radio"
                  name="resetMethod"
                  value="otp"
                  class="form-radio text-orange-500"
                />
                <span class="text-gray-700"
                  ><i class="fas fa-key mr-1"></i>OTP Based</span
                >
              </label>
              <label class="inline-flex items-center gap-2 cursor-pointer">
                <input
                  type="radio"
                  name="resetMethod"
                  value="link"
                  class="form-radio text-orange-500"
                />
                <span class="text-gray-700"
                  ><i class="fas fa-link mr-1"></i>Link Based</span
                >
              </label>
            </div>

            <button type="submit" class="submit-button">
              <i class="fas fa-cogs"></i> Generate
            </button>
          </form>
        </section>

        <!-- Bottom Links -->
        <div
          class="text-center mt-14 text-sm text-gray-700 flex flex-col items-center justify-center gap-2"
        >
          <div>
            <i class="fas fa-question-circle mr-1"></i>Remembered your password?
            <a
              href="/user/login"
              class="text-orange-600 hover:underline font-medium"
              >Login</a
            >
          </div>
          <a href="/" class="hover:underline"
            ><i class="fas fa-times-circle mr-1"></i>Cancel & Go Back</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
