<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head') %>

  <!-- Body -->
  <body class="body">
    <div class="auth-form-container">
      <div class="auth-card">
        <!-- Back Button -->
        <span class="card-back-button">
          <i class="fas fa-chevron-left"></i>
          <a href="/">Back</a>
        </span>

        <!-- Icon and Heading -->
        <div class="flex flex-col items-center mb-10">
          <div class="card-icon">
            <i class="fas fa-key"></i>
          </div>
          <h2 class="card-heading">Forgot Password?</h2>
          <p class="text-sm sm:text-base text-gray-600 text-center">
            Reset your
            <span class="text-orange-600 font-medium">AuthFlow</span> account
            password.
          </p>
        </div>

        <!-- STEP-3A : Password Reset OTP Validation -->
        <form
          id="step3-otp"
          action="/user/reset-password/verifyOtp/<%= userId %>"
          method="post"
          class="w-full"
        >
          <p class="mb-3 text-gray-700 font-medium underline text-center">
            Enter the OTP sent to your Email
          </p>
          <div class="form-input-div">
            <i class="fas fa-shield-alt text-orange-500"></i>
            <input
              type="text"
              id="otp"
              name="otp"
              placeholder="One Time Password"
              class="form-input-box"
            />
          </div>
          <div class="flex justify-end mt-2 mr-4">
            <button class="text-orange-600 text-sm hover:underline">
              <i class="fas fa-sync-alt mr-1"></i>Regenerate OTP
            </button>
          </div>

          <button type="submit" class="submit-button mt-6">
            <i class="fas fa-check-circle"></i> Submit
          </button>
        </form>

        <!-- Bottom Links -->
        <div
          class="text-center mt-14 text-sm text-gray-700 flex flex-col items-center justify-center gap-2"
        >
          <div>
            <i class="fas fa-question-circle mr-1"></i>Remembered your password?
            <a
              href="/user/login"
              class="text-orange-600 hover:underline font-medium"
              >Login</a
            >
          </div>
          <a href="/" class="hover:underline"
            ><i class="fas fa-times-circle mr-1"></i>Cancel & Go Back</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
